article {
    display: flex;
    border: 5px solid orange;
    margin: 0;

 
  
}

.projectCard {
    border: 2px solid ;
    margin-bottom: 20px;
    margin-top: 20px; 
}

.projectCard img {
    width: 400px;
}