#contactForm {
    padding: 50px;
    margin: 50px;
    border: 5px solid;
    

}

#contactForm p {
    border-bottom: 5px solid;
}

#submitBtn {
    border: 2px solid;
    color: whitesmoke;
    background-color: #db6930;
}