.navContainer {
    background-color:#FF8300;
   display: inline;
    justify-content: space-between;
    border: brown solid 3px;
 

}

.navigation {
    display:flex;
    justify-content: space-between;

  
}

.nav-item{
    color:antiquewhite;
}